@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Alegreya:ital@1&family=Merriweather:ital,wght@1,300&display=swap');


body{
    background-color: rgb(0, 209, 185);
  
}

header{
    border: 5px solid rgb(0, 209, 185);
    height: 350px;
    margin-bottom: 5px;
    
}
header img{
    width: 100%;
    border: none;
    border-radius: 360px;
}
h1{
    color: rgb(30, 126, 244);
    text-shadow: 10px;
}

main{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 275px;
}

img{
    border: 5px solid yellowgreen;
    border-radius: 35%;
     width: 155px;
}

p{
    text-align: center;
    font-size: 'Alegreya';
    
}
.imageBox {
    position: relative;
    float: left;
  }
  
  .imageBox .hoverImg {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  
  .imageBox:hover .hoverImg {
    display: block;
  }
  @media (max-width: 550px) {
    body{
      background-color: rosybrown;
    }
    header{
      border: none;
    }
    main{
      display: block;
      margin-top: 20px;
    }
   p {
display: none;
    }
  }