@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');


body{
    background-image: url(./paperfalling.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    text-align: center;
}
p{
   font-size: x-large;
   font-family: 'Merriweather' ;
}
input{
    color: grey;
}

button{

    background-color: yellowgreen;
    width: 80%;
    height: 70px;
    cursor: pointer;
}
.button{
    display: block;
    background-color: yellowgreen;
    width: 80%;
    height: 70px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
h2{
    text-align: center;
    text-size-adjust: larger;
}
#score{
text-align: center;
}

@media (max-width: 550px) {
    *{
      background-color: rosybrown;
    }
    body{
        background-image: none;
    }
   button{background-color: orange;
    color: rgb(3, 7, 243);
    width: 80%;
    height: 50px;
    cursor: pointer;
   }
  }

